/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

/*字体颜色*/
.font-black {
  color: #333333;
}

.font-blue {
  color: #6a8eff;
}

.font-gray {
  color: #777777;
}

/*字体颜色*/

.text-center {
  text-align: center;
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt50 {
  margin-top: 50rpx;
}

.mb50 {
  margin-bottom: 50rpx;
}

.mt25 {
  margin-top: 25rpx;
}

.mb25 {
  margin-bottom: 25rpx;
}

.mb10 {
  margin-bottom: 10rpx;
}

.mt10 {
  margin-top: 10rpx;
}

.ml10 {
  margin-left: 10rpx;
}

.ml25 {
  margin-left: 25rpx;
}

.pl25 {
  padding-left: 25rpx;
}

.pl50 {
  padding-left: 50rpx;
}

